/* @import url(https://fonts.googleapis.com/css2?family=Varela&display=swap); */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Varela', sans-serif;
    color:#fff;
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(./images/bg\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.container{
    width: 500px;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.card{
    border:none;
    padding:50px 90px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 15px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4;  
}
form{
    min-height: 20vh;
    display: flex;
    align-items:center;
    justify-content: center;
}
form input,
form button{
    padding:0.5rem;
    font-size: 20px;
    border:none;
    outline: none;
    border-radius:3px;
    background:wheat;
}
form button{
    color:#d88992;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover{
    background:rgb(246, 153, 153);
    color:white;
}
h1{
    margin-top: 25px;
    font-size: 30px;
    font-weight: 900;
    line-height: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.todoBtn {
    margin-left: 10px;

}

.fa-plus {
    padding-left: 10px;
}
.todo-container {
    display: flex;
    justify-content: center;
    align-items:center;
    overflow-y: scroll;

}
.todo-list {
    min-width: 60%;
    list-style: none;

}
.todo{
    margin:0.5rem;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;

}
.fa-trash{
    color:red;
}
.fa-check{
    color:green;
}
.fa-check,
.fa-trash{
    pointer-events: none;
}
.trash-btn,
.check-btn{
    border:none;
    color:#fff;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.done{
    text-decoration: line-through;
    opacity: 0.8;
}
.fall{
    transform: translateY(8rem) rotate(50deg);
    opacity:0;
}
select{
    appearance:none;
    font-size: 1.5rem;
    outline: none;
    border:none;
    margin-left: 10px;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    width:160px;
    cursor: pointer;
    padding: 5px;
    border-radius:5px;
}
.select::after{
 content:"\25BC";
 position:absolute;
 top:0;
 right: 0;
 padding: 16px;
 pointer-events: none;
}





























    /* }
form input,
form button{
    background-color: #fff;
    border:none;
    outline: none;
    padding:16px;
    font-size: 18px;
}
button{
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
    cursor:pointer;
}
button:hover{
    color:darkblue;
    background-color:#fff;
}
select{
    appearance: none;
    border:none;
    outline: none;
    overflow: hidden;
    padding:16px;
    font-size: 20px;
    text-transform:capitalize;
}

.site-form {
    height: 20vh;
    display: flex;
    align-items:center;
    justify-content: center;


}

.fas-plus-square {
    color:#000;
    background: color #f7500f;
}

.todo-list {
    margin-left: 125px;
    list-style: none;
    display: flex;
    align-items:center;
    justify-self: center;
    margin-bottom: 50px;

}
.todo-item {
    width: 70%;
    color:#000;
    border-radius:5px;
    margin-bottom: 10px;
}
.todo {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-bottom: 1px dashed #fff;


}

.checkBtn, .trahBtn {
    border:none;
    background-color: transparent;
    cursor:pointer;
    font-size: 10px;
    
}
.checkBtn{
    margin-left: 60px;
}
.trahBtn{
    margin-left: 10px;
}
.fa-circle-check {
    flex: 1;
    font-size: 15px;
    color:green;
    pointer-events: none;

}


.fa-trash {
    font-size: 15px;
    color:red;
    pointer-events: none;

}
.done{
    text-decoration: line-through;
    opacity: 0.8;
} */